//variables
$main-text-color: #f1c40f;
$hover-color: #f9e79f;
$bg-color: #0a0a2a;
$second-bg-color: #181407;
$border-color: #08298a;
$bg-logo-color: #04b45f;
$bg-button-color: #d7df01;
$text-button-color: #181407;
$hover-button-color: rgba(255, 208, 95, 0.78);
